<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="go-import" content="page.yzr.ink/greetings git github.com/gray19950103/greetings">
			<script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
	        		<li><a href="/blog">blog</a></li>
					<li><a href="/cv">cv</a></li>
		        	<li><a href="/about">about</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gray19950103@hotmail.com">email</a></li>
	        		<li><a href="https://github.com/gray19950103">github.com/gray19950103</a></li>
				</ul>
			</footer>
		</body>
	</html>
